*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: #EAEAEA;
    background-color: #eef9e5;
}


.slider-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider-wrapper figure {
  position: relative;
  width: 300%; 
  margin: 0;
  left: 0;
  display: flex;
  animation: slide 9s infinite;
  float: left;
} 

  .slider-wrapper .started-button {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:50%;
    left: 40%;
    z-index: 999;
}
  .slider-wrapper .started-button h1{
    color: #EAEAEA;
    z-index: 999;
  }
  .slider-wrapper .started-button a {
    width: 200px;
    background-color: #C49A2C;
    color:#1F2226;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.started-button a:hover {
    background-color: #b89014;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);}

.slider-wrapper figure img {
  width: 100vw; 
  height: 100vh;
  object-fit: cover;
}

@keyframes slide{
  0%, 30%   { transform:translateX(0); }
  33%, 63%  { transform:translateX(-100vw); }
  66%, 96%  { transform:translateX(-200vw); }
  100%      { transform:translateX(0); }
}
.map {
  background-color: #1F2226;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.map h1{
  color: rgb(255, 255, 255);
  align-self: center;
  font-family:'Playfair Display', serif;
}
.map iframe{
  width: 100vw;
  height :500px;
  border-radius: 10px;
  border:none;

}