body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('img5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}
footer{
        background: transparent;
        padding-top: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(20px);
        z-index: 999;
      }
    .container{
        width: 1140px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .footer-content{
        width: 33.3%;
        color: #fefefe;
    }
    h3{
        font-size: 28px;
        margin-bottom: 15px;
        text-align: center;
        color: #fefefe;
    }
    .footer-content p{
        width:190px;
        margin: auto;
        padding: 7px;
        color: #fefefe;
    }
    .footer-content ul{
        text-align: center;
        color: #fefefe;
    }
    .list{
        padding: 0;
    }
    .list li{
        width: auto;
        text-align: center;
        list-style-type:none;
        padding: 7px;
        position: relative;
    }
    .list li::before{
        content: '';
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 100%;
        width: 0;
        height: 2px;
        background: #fd7600;
        transition-duration: .5s;
    }
    .list li:hover::before{
        width: 70px;
    }
    .social-icons{
        text-align: center;
        padding: 0;
    }
    .social-icons li{
        display: inline-block;
        text-align: center;
        padding: 5px;
    }
    .social-icons i{
        color: white;
        font-size: 25px;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        color: #f18930;
    }
    .social-icons i:hover{
        color: #f18930;
    }
    .bottom-bar{
        background: #f77300a1;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
    }
    .bottom-bar p{
        color: #fefefe;
        margin: 0;
        font-size: 16px;
        padding: 7px;
    }
   .navbar {
    display:flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}
.navbar li {
    list-style: none;
}

.logo {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    margin-right: auto; /* pushes menu to right */
    padding: 14px 20px;
}
.menu {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-self: flex-end;
    
    
    
}
.navbar ul {
    display: flex;
    gap: 20px;
    float: left;
    justify-content: center;
    align-items: center;
    padding:0 30px;
    margin-left: auto;
}
.navbar ul li{
  
    list-style: none;
    margin-left: 6px;
    font-size: 16px;
    
}
.navbar ul li a {
    display: block;
   stroke: black 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.navbar ul li a:hover {
    background-color: #ffffff39;
    color: rgb(255, 0, 0);
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.7 ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.navbar ul li a:active {
     background-color: rgba(255, 255, 255, 0.174);
     color: rgb(255, 254, 252);
     padding: 10px 15px;
     border-radius: 2px;
}

.content {
    text-align: center;
    color: #fefefe;
    margin-top: 50px;
    position: sticky;
}
.sidebar {
    position: fixed;
    top: 0; /* height of navbar */
    transform: translate(100%);
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #ffffffae;
    box-shadow: -10px 0 10px rgba(156, 155, 155, 0.1);
    backdrop-filter: blur(30px);
    z-index: 999;;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
   display: flex;
   transition: 0.7s ease;
   column-gap: 2px;
   overflow-y: auto;
}
.sidebar.active {
    transform: translate(0);
}


.sidebar li {
    list-style: none;
    width: 100%;
    height: 200%;
    padding-top: 100px;
    margin: 0;
    
}
.sidebar a{
    width: 100%;
}